.review {
  margin-top: -40px;
}

.review__slider {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.review__slider::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 91%;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
}

.review__link {
  width: 19;
  height: 32;
  padding-left: 20px;
  padding-right: 20px;
}

.review__link:hover {
  cursor: pointer;
}

.review__content {
  padding: 40px 15px 32px 15px;
  text-align: center;
  font-size: 14px;
}

.review__author {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 14px;
  text-align: right;
}
