.production {
  margin-top: -60px;
  background: url("production__background.png") 20% 50%;
}

.production__side {
  flex: 1;
}

.production__side_right {
  background: linear-gradient(to right, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, 0) 100%);
}

.production__side_left-background {
  background: url("production__background_left.png") 43% 48% no-repeat;
}

.production__side_left {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .95) 100%);
}

.production__heading {
  padding-top: 40px;
}

@media screen and (min-width: 1920px) {
  .production {
    background-size:100%;
  }
}
