.consult {
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.consult__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.consult__heading {
  padding: 0;
  position:relative;
  margin-left: 10px;
}

@media screen and (max-width: 668px) {
  .consult__heading {
    font-size: 30px;
  }
}

.consult__button {
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  font-weight:bold;
  font-size:22px;
}
