@font-face {
  font-family: "IzhitsaRegular";
  src: url("IzhitsaRegular.eot");
  src: url("IzhitsaRegular.eot?#iefix")format("embedded-opentype"),
  url("IzhitsaRegular.woff") format("woff"),
  url("IzhitsaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #462c1a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.page__heading {
  font-family: IzhitsaRegular;
  padding-top: 5px;
  margin: 0;
  font-weight: 500;
}

.page__heading_green {
  color: #3d9623;
}

.page__heading_white {
  color: #fff;
}

.page__heading_big {
  font-size: 48px;
}

.page__heading_red {
  color: #891c07;
}

.page__block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__block_green {
  background-color: #4e9a06;
}

.page__paragraph {
  font-size: 18px;
  margin: 40px 0;
}

.page__content_centered {
  text-align: center;
}

.page__link {
  margin-bottom: 50px;
  font-size: 22px;
  color: #462c1a;
}

.page__wrapper_white {
  background: linear-gradient(to right, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .85) 100%);
}

@media screen and (max-width: 900px) {
  .page__heading, .front__heading {
    text-align: center;
  }
}

@media screen and (min-width: 940px) {
  .page__wrapper {
    width: 940px;
  }
}

@media screen and (max-width: 940) {
  .page__wrapper {
    overflow: hidden;
  }
}
