.gallery {
  background: url("gallery__background-img.png");
  width: 100%;
  padding-bottom: 120px;
  overflow: hidden;
}

.gallery__slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.gallery__container {
  height: 380px;
  position: relative;
}

.gallery__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__container, .gallery__image-container {
  width: 620px;
  height: 380px;
}

.gallery__image-container {
  position: absolute;
}

.gallery__image {
  max-height: 380px;
  max-width: 100%;
}

.gallery__image-container_middle {
  left: 0;
}

.gallery__image-container_left {
  top: 0;
  left: -718px;
}

.gallery__image-container_right {
  top: 0;
  right: -718px;
}

.gallery__arrow {
  width: 58px;
  height: 58px;
  cursor: pointer;
  position: absolute;
}

.gallery__arrow_left {
  top: 161px;
  left: -78px;
}

.gallery__arrow_right {
  top: 161px;
  right: -78px;
}

.gallery__heading {
  text-align: center;
  padding: 60px 0 50px 0;
  font-size: 36px;
}

.gallery__image {
  position: absolute;
}

@media screen and (max-width: 776px) {
  .gallery__arrow_right {
    right: 30%;
    top: 100%;
  }

  .gallery__arrow_left {
    left: 30%;
    top: 100%;
  }
}

@media screen and (max-width: 620px) {
  .gallery__image-container_left, .gallery__image-container_right {
    display: none;
  }
  
  .gallery__image-container, .gallery__container {
    width: auto;
    height: auto;
  }

  .gallery__image, .gallery__image-container {
    position: relative;
  }
}

@media screen and (max-width: 790px) {
  .gallery__arrow-container {
    width: 58px;
    height: 100%;
  }

  .gallery__arrow-container_left {
    left: 0;
  }

  .gallery__arrow-container_right {
    right: 0;
  }
}
