.item-link {
  padding: 0 15px 3px 15px;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 200px;
  margin-top: 10px;
}

.item-link:hover {
  background: #ffde00 !important;
  color: #891c07 !important;
  cursor: pointer;
}

.item-link_brown {
  color: #462c1a;
}

.item-link_border {
  border: 2px solid #891c07;
}

.item-link_red {
  background: #fff;
  color: #891c07;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.item-link_active {
  background: #891c07;
  color: #fff;
}

@media screen and (max-width: 380px) {
  .item-link_red {
    font-size: 16px;
  }
}
