.services {
  background: linear-gradient(to right, rgba(250, 232, 205, .5) 0%, rgba(250, 232, 205, .8) 20%, rgba(250, 232, 205, .99) 50%, rgba(250, 232, 205, .6) 80%, rgba(250, 232, 205, .5) 100%), url("light-wooden-background.png");
}

.services__heading {
  padding: 60px 0;
}

@media screen and (min-width: 1920px) {
  .services {
    background-size:100%;
  }
}
