.advantages-list {
  padding-top: 10px;
  justify-content: space-around;
}

.advantages-list__item {
  width: 180px;
}

.advantages-list__img-background {
  width: 120px;
  height: 120px;
  background: #f4f1eb;
  border-radius: 60px;
}

.advantages-list__heading {
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages-list__paragraph {
  margin: 0;
  font-size: 14px;
}

.advantages-list__paragraph_wide {
  margin-left: -2px;
  margin-right: -2px;
}

.advantages-list__img-leaf {
  margin: 28px 0 0 25px;
  width: 63px;
  height: 63px;
}

.advantages-list__img-tick {
  margin: 31px 0 0 31px;
  width: 60px;
  height: 60px;
}

.advantages-list__img-herbs {
  margin: 27px 0 0 30px;
  width: 59px;
  height: 59px;
}

.advantages-list__img-star {
  margin: 25px 0 0 29px;
  width: 65px;
  height: 65px;
}

.advantages-list__img-thumb {
  margin: 25px 0 0 33px;
  width: 57px;
  height: 63px;
}

