.phone {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.phone__number {
  font-weight: 900;
  font-size: 35px;
  padding: 2px 10px 0 63px;
  position: relative;
}

.phone__number::before {
  content: url("phone__handset.png");
  width: 53px;
  height: 53px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.phone__button {
  margin-top: 6px;
  cursor: pointer;
  color: #fff;
  height: 40px !important;
  background-color: #891c07;
  border-color: #891c07;
  border-width: 0;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .phone {
    align-items: center;
    flex-direction: column;
  }

  .phone__number {
    padding-right: 0;
    font-size: 30px;
  }
}
