.promotion {
  width: 100%;
  background: url("promotion__background.png") 50% 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 40px;
}

.promotion__image {
  width: 280px;
  height: 280px;
  border-radius: 280px;
}

.promotion__content {
  color: #fff;
  height: 240px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promotion__prices {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 52px;
}

@font-face {
  font-family: OpenSansLight;
  src: url("open-sans.light.ttf");
}

.promotion__price_striked {
  font-family: OpenSansLight;
}

.promotion__price {
  font-weight: bold;
}

.promotion__heading {
  margin: 0px;
  font-size: 30px;
}

.promotion__button {
  width: 200px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  background: #ffde00;
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
  color: #775813;
}

.promotion__line_top {
  position: absolute;
  top: -10px;
  right: 70px;
  width: 80px;
  border-top: 10px solid #4e9a06;
}

.promotion__line_right {
  position: absolute;
  top: 70px;
  right: -10px;
  height: 80px;
  border-right: 10px solid #4e9a06;
}

.promotion__ribbon {
  position: absolute;
  width: 163px;
  height: 163px;
  right: -12px;
  top: -12px;
}

.promotion__label {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  transform: rotate(45deg);
  position: absolute;
  top: 30px;
  right: 0;
}

@media screen and (max-width: 360px) {
  .promotion {
    padding: 20px;
  }
}

@media screen and (max-width: 816px) {
  .promotion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: auto !important;
  }

  .promotion__content {
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .promotion__prices {
    justify-content: center;
  }

  .promotion__price_striked, .promotion__price {
    font-size: 32px;
  }

  .promotion__heading {
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .promotion__ribbon, .promotion__line_right, .promotion__line_top, .promotion__label {
    display: none;
  }
}
