.partners {
  padding-bottom: 80px;
  background: linear-gradient(to left, rgba(250, 249, 244, 1) 0%, rgba(250, 249, 244, 0) 20%, rgba(250, 249, 244, 0) 80%, rgba(250, 249, 244, 1) 100%);
}

.partners__grid {
  justify-content: flex-start;
}

@media screen and (max-width: 940px) {
  .partners__grid {
    justify-content: center;
  }
}

.partners__heading {
  padding-top: 40px;
}

.partners__link {
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px 30px 10px;
  cursor: default;
}

.partners__derevnya-zdorovie-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__derevnya-zdorovie-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__iloverh-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__iloverh-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__assoc-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__assoc-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__lakshmi-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__lakshmi-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__kaspplus-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__kaspplus-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__alfey-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__alfey-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__predtechy-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__predtechy-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__limon-i-myata {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__limon-i-myata:hover {
  filter: none;
  cursor: pointer;
}

.partners__rasayana-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__rasayana-logo:hover {
  filter: none;
  cursor: pointer;
}

.partners__ranm-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.partners__ranm-logo:hover {
  filter: none;
  cursor: pointer;
}
