.info-cell {
  width: 260px;
  height: 260px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.info-cell__button {
  font-size: 18px;
  padding-top: 12px;
  text-align: center;
  margin-top: 25px;
  background: url("info-cell__button_wood-bnd.png");
  text-decoration: none;
  font-weight: 600;
  color: #462c1a;
}

.info-cell__heading {
  margin-top: 15px;
  font-size: 29px;
}

.info-cell__flower {
  z-index: 1;
  position: absolute;
}

.info-cell__flower_shop-bottom-left {
  bottom: -35px;
  left: -50px;
  width: 78px;
  height: 76px;
}

.info-cell__flower_shop-top-right {
  top: -35px;
  right: -40px;
  width: 59px;
  height: 51px;
}

.info-cell__flower_services-top {
  width: 205px;
  height: 131px;
  top: -75px;
  left: 0px;
}

.info-cell__flower_services-bottom-right {
  width: 68px;
  height: 64px;
  bottom: -35px;
  right: -35px;
}

.info-cell__flower_about-top-right {
  width: 70px;
  height: 63px;
  top: -50px;
  right: -10px;
}

.info-cell__background {
  width:300px;
  height: 300px;
}

.info-cell__background_positioned {
  bottom: 0;
  position: absolute;
}  

.info-cell__background_shop {
  right: 0px;
  background: #ffefeb url("info-cell__background_shop-image.png") no-repeat left center;
}

.info-cell__background_services {
  margin: 0 20px;
  position: relative;
  margin-top: 65px;
  background: #c2f4ec url("info-cell__background_services-image.png") no-repeat center;
}

@media screen and (max-width: 340px) {
  .info-cell__background_services {
    margin: 65px 0 0 0;
  }
}

.info-cell__background-about {
  right: 40px;
  background: #e4edff url("info-cell__background_about-image.png") no-repeat left center;
}

.info-cell__background_flowers {
  position: relative;
}

.info-cell__background_shop-flowers {
  margin-left: -70px;
  width: 370px;
  height: 365px;
  background: url("info-cell__background_shop-flowers.png");
}

@media screen and (max-width: 370px) {
  .info-cell__background_shop-flowers {
    margin: 0;
    width: 300px;
    height: 300px;
    background: none;
  }
}

.info-cell__background_about-flowers {
  margin-top: -25px;
  margin-left: -38px;
  margin-right: -40px;
  width: 378px;
  height: 390px;
  background: url("info-cell__background_about-flowers.png") no-repeat content-box;
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
  .info-cell__background_about-flowers {
    margin-right: 0;
  }

  .info-cell__background_shop-flowers {
    margin-left: 0;
  }
}

@media screen and (max-width: 378px) {
  .info-cell__background_about-flowers {
    margin: 40px 0 0 0;
    width: 300px;
    height: 300px;
    background: none;
  }

  .info-cell__background-about {
    right: 0;
  }
}


.info-cell__ico {
  margin-top: 15px;
}

.info-cell__ico_shop {
  width: 64px;
  height: 59px;
}

.info-cell__ico_services {
  width: 63px;
  height: 59px;
}

.info-cell__ico_about {
  margin-top: 15px;
  width: 59px;
  height: 57px;
}

@media screen and (max-width: 340px) {
  .info-cell__flower_shop-top-right, .info-cell__flower_services-bottom-right {
    right: -20px;
  }
}
