.payment-list {
  margin: 0;
  padding: 0;
}

.payment-list__item {
  margin: auto;
}

.payment-list__item_visa {
  width: 37px;
  height: 13px;
}

.payment-list__item_mastercard {
  width: 34px;
  height: 21px;
}

.payment-list__item_yandex {
  width: 51px;
  height: 20px;
}

.payment-list__item_webmoney {
  width: 69px;
  height: 22px;
}

.payment-list__item_paypal {
  width: 54px;
  height: 16px;
}
