.footer {
  background: url("footer__background.png");
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__line {
  display: block;
  border-top: 1px solid #a99c92;
}

.footer__phone {
  font-size: 44px;
  font-weight: bold;
  margin: 0;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer__link {
  margin: 0 10px;
}
