.list, .list__item {
  display: flex;
}

.list {
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
}

.list_bold {
  font-weight: bold;
}

.list__item {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 940px) {
  .list_fit {
    margin: 0 -10px;
  }
}
