.services-item {
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 10px;
  color: #fff;
}

.services-item_half-height {
  padding-top: 32px;
  height: 90px;
  font-size: 18px;
  font-weight: bold;
}

.services__item-content {
  font-size: 14px;
  padding: 0 10px;
  visibility: hidden;
  margin-top: -50px;
}

.services-item__heading {
  font-weight: normal;
  font-size: 24px;
  margin: 15px 0;
}

.services-item__line {
  position: absolute;
  visibility: hidden;
  left: 36%;
  top: 35%;
  width: 28%;
  border-bottom: 2px solid #fff;
}

.services-item__evening {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url("services-item__evening.png") 22% 75%;
}

.services-item__evening:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), linear-gradient(to right, rgba(113, 188, 67, .8) 0%, rgba(113, 188, 67, .8) 100%), url("services-item__evening.png") 22% 75%;
}

.services-item__healthy-vac {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url("services-item__healthy-vac.png") 82% 35%;
}

.services-item__healthy-vac:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), linear-gradient(to right, rgba(113, 188, 67, .8) 0%, rgba(113, 188, 67, .8) 100%), url("services-item__healthy-vac.png") 82% 35%;
}

.services-item__therapy {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url("services-item__therapy.png") 95% 50%;
}

.services-item__therapy:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), linear-gradient(to right, rgba(113, 188, 67, .8) 0%, rgba(113, 188, 67, .8) 100%), url("services-item__therapy.png") 95% 50%;
}

.services-item__banya {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url("services-item__banya.png") 35% 95%;
}

.services-item__banya:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), linear-gradient(to right, rgba(113, 188, 67, .8) 0%, rgba(113, 188, 67, .8) 100%), url("services-item__banya.png") 35% 95%;
}

.services-item__country-vac {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), url("services-item__country-vac.png") 10% 95%;
}

.services-item__country-vac:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%), linear-gradient(to right, rgba(113, 188, 67, .8) 0%, rgba(113, 188, 67, .8) 100%), url("services-item__country-vac.png") 10% 95%;
}

.services-item__certificate {
  margin-top: 0;
  background: #c00 url("services-item__certificate.png") 50% 45%;
}

.services-item__certificate:hover {
  background: rgba(113, 188, 67, .8) url("services-item__certificate.png") 50% 45%;
}

.services-item__price {
  margin-bottom: 0;
  background: #3465a4 url("services-item__price.png") 0% 87%;
}

.services-item__price:hover {
  background: rgba(113, 188, 67, .8) url("services-item__price.png") 0% 87%;
}
