.news {
  margin-left: 60px;
}

.news__list {
  margin-top: 20px;
  padding: 40px 0 40px 40px;
  background: #fff;
}

.news__link {
  color: #4e9a06;
}

.news__image {
  width: 120px;
  height: 80px;
  float: left;
  margin-right: 20px;
}

.news__item {
  height: 80px;
  margin: 10px;
}

.news__text {
  font-size: 12px;
  margin: 0;
}

.news__heading {
  margin: 0;
  font-size: 16px;
}

.news-block__heading {
  padding-top: 12px;
}

@media screen and (max-width: 940px) {
  .news {
    margin-left: 0;
    margin-top: 40px;
  }

  .news__list {
    padding: 0;
  }

  .news-block__heading {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .news__list {
    display: flex;
    flex-direction: column;
  }

  .news__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    margin: 0;
  }

  .news__image {
    float: none;
    margin: 0;
  }

  .news__heading {
    text-align: center;
  }
}
