.button {
  width: 160px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
}

.button_big {
  width: 260px;
  height: 70px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .button_big {
    width: 200px;
    height: 50px;
    margin-left: 0;
  }
}

.button_white {
  color: #fff;
  border: 2px solid #fff;
  background: #4e9a06;
}

.button_rounded {
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}
