.product-cell {
  width: 224px;
  height: 330px;
  padding: 8px;
  margin: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .05), 0px 2px 4px rgba(0, 0, 0, .05) inset;
  background: #fff;
}

.product-cell__heading {
  margin: 15px 0;
}

.product-cell__button {
  height: 40px;
  background: #ffde00;
  font-size: 20px;
  border: 0px;
}

.product-cell__img {
  max-width: 224px;
  height: auto;
}
