.front {
  background: url("cloud-sky.png");
}

.front__content {
  padding-bottom: 250px;
}

@media screen and (max-width: 2560px) {
  .front {
    background: url("front__grass.png") no-repeat,
    url("front__butterflies.png") no-repeat,
    url("cloud-sky.png") no-repeat;
    background-position: 0% 100%, 23% 100%, 0% 0%;
  }
}

@media screen and (min-width: 1920px) {
  .front {
    background-size:100%;
  }
}

@media screen and (min-width: 1920px){
  .front {
    background: url("front__grass.png") no-repeat,
    url("front__flowers.png") no-repeat,
    url("front__butterflies.png") no-repeat,
    url("cloud-sky.png") no-repeat;
    background-position: 0% 100%, 10% 100%, 23% 100%, 0% 0%;
    background-size: 100%, 338px 301px, 527px 269px, 100%;
  }
}

.front__content {
  padding-top: 50px;
}

.front__heading {
  font-size: 24px;
}

@media screen and (max-width: 940px) {
  .front__content {
    margin: 0 5px;
  }
}

