.ads {
  padding: 60px 0 100px 0;
  background: url("textile.png");
}

.ads__block {
  padding-bottom: 60px;
}

.ads__banner {
  background: #fff;
  min-width: 240px;
  width: 240px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ads__content {
  color: #a7a7a7;
}

@media screen and (max-width: 940px) {
  .ads__block {
    flex-direction: column;
    align-items: center;
  }
}
