.menu {
  font-size: 24px;
}

.menu_footer {
  margin: 5px 0 10px 0;
}

@media screen and (min-width: 1072px) {
  .menu_background {
    width: 1072px;
    height: 165px;
    padding: 0 66px;
    margin: 0 -66px;
    background: linear-gradient(rgba(255, 255, 255, 0) 50px, rgba(255, 255, 255, .9) 85px, rgba(255, 255, 255, 0) 115px, rgba(255, 255, 255, 0) 165px),
      url("menu_background-branch-1.png") 330px 20px no-repeat,
      url("menu_background-branch-2.png") 444px 118px no-repeat,
      url("menu_background-branch-3.png") 408px 118px no-repeat,
      url("menu_background.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1071px) {
  .menu__item-link {
    margin-left: 5px;
    margin-right: 5px;
    color: #fff !important;
    background: #3d9623;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
  .menu__item-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}
