.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  display: none;
  pointer-events: none;
}

.modal-dialog__content {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: linear-gradient(#fff, #999);
}

.modal-dialog-error {
  color: #f00;
}

.modal-dialog:target {
  display: block;
  pointer-events: auto;
}

.modal-dialog-close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.modal-dialog-close:hover { background: #00d9ff; }
